doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/public/assets/css/style.css")
    title Paiement annulé
  body
    section
      h1 Votre paiement n'a pas pu aboutir
      p Votre paiement a été annulé. Veuillez réessayer ultérieurement ou contacter le support client.
      p#error Raison : #{error}
